/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.46.26
    Author     : Kevin
*/

body{
    background-color:#ffffcc;
    font-family: "serif", Times;
    font-style: normal;
    color: #660000;
}

img{
    border-radius: 8px;
}

#buttonSearch{
    background-color:#006600;
    color:white;
    width: 120px;
    height: 25px;
    font-family:"monospace",Arial;
    font-weight:bold;
    font-size: 16px;
}

#searchUser{
    margin-bottom: 40px;
}

#searchField{
    
    background-color: white;
    color:black;
    margin-top:10px;
    width: 120px;
}

#utenti{
    border-radius: 5px;
    background-color: white;
    border-style:solid;
    width:205px;
    padding-left: 10px;
    padding-bottom: 100%;
    margin-top:10px;
    margin-left:-228px;
    margin-bottom:20px;
    float: left;
}

#userLogged{
    font-size: 15px;
}

#utenti li{
    padding:10px;
    padding-left:40px;
    list-style-type: none;
}

.pannello li a{
    display:block;
    line-height:35px;
    padding-left: 50px;
}

header{
    background-color: #99bbff;
    font-family: "serif", Times;
    font-style: italic;
    font-weight: bold;
    border-style: solid;
    margin-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
    height:60px;
    text-align: center;
}

h2{
    font-family: "Verdana",Times;
    font-style: normal;
    color:forestgreen;
        
}

h3{
    font-style: normal;
    font-family: "Georgia",Times;
    color: brown;       
}
/*gestione link*/
a:active{
    color:black;
    text-decoration: none;
}
a:link{
    color:darkblue;  
    text-decoration: none;
}
a:visited{
    color:#000000;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    color:#b84dff;
    text-decoration: none;
}

input{
    font-family: "Verdana",Times;
    font-weight: bold;
    border: 2px solid #3366ff;
    background-color: #cc9966;
    color:black;
    padding-left: 5px;
}

p{
    color: #003333;
    font-family: "Arial",Times;
}

#divAccesso{
    background-color: white;
    border-style:solid;
    border-radius: 5px;
    padding:5%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    width: 30%;
}

#notAutenticate{
    background-color: white;
    border-style:solid;
    border-radius: 5px;
    padding:5%;
    width: 30%;
    margin-top:10px;
    margin-left:230px;
}

.ilogin{
    display:block;
    width: 200px;
    font-weight:bold;
    color: #006600;
}

.button{
    background-color:#006600;
    color:white;
    width: 62%;
    margin-top:20px;
    height: 28px;
}

.deletebutton{
    margin-top:100px;
    background-color:#990000;
    color:white;
    width: 62%;
    margin-top:20px;
    height: 28px;
}

nav{
    border-style: solid;
    text-align: center;
    display: block;
    font-size: 20px;
    background-color:#cccccc;
}

nav li{
    display: inline-block;
    font-family: "serif";
    margin-bottom:5px;
    padding-left: 20px;
    padding-right: 20px;
}

ul{
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 20px;
}

input[type=text]{
    width: 60%;
    display:block;
    margin-bottom:6px;
    border-radius: 3px;
    border-width: 2px;
}

input[type=file]{
    width: 107px;
    height: auto;
}

input[type=text]:focus {
    border: 3px solid #98e698;
}

input[type=password]:focus {
    border: 3px solid #98e698;
}

input[type=password]{
    width: 60%;
    display:block;
    margin-bottom:6px;
    border-radius: 3px;
    border-width: 2px;
}

input[type=date]{
    border-width: 2px;
    display:block;
    border-radius: 3px;
    width:29%;
    margin-bottom:6px;
}

input[type=date]:focus{
    border: 3px solid #98e698;
}

input[id=url]{
    font-size: 10px;
}

textarea{
    font-family: "Verdana",Times;
    background-color: #cc9966;
    display:block;
    border: 2px solid #3366ff;
    color:black;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:6px;
    border-width: 2px;
}

textarea:focus{
    border: 3px solid #98e698;
}

#iscriviti{
    background-color: white;
    border-radius: 5px;
    float:left;
    border-style: solid;
    padding: 5%;
    margin-left:10px;
    margin-bottom: 10px;
    width: 39%;
    font-weight:bold;
}
#scritta{
    text-align: center;
}

#newPost{
    display:inline-block;
    padding: 2%;
    margin-top:10px;
    margin-left:30%;
    margin-bottom: 10px;
    width: 51%;
    font-weight:bold;
}

.campiDati{
    margin-bottom: 25px;
}

#link{
    margin-bottom: 30px;
}

#divPost1,#divPost2,#divPost3{
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    margin-top:10px;
    display:block;
    padding: 2%;
    border-style: solid;
    text-align: left;
}

#divSom{
    float:left;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    padding-right:10px;
    border-style: solid;
    width: 160px;
    padding-left:10px;
}

#focus{
    float:left;
    width: 70%;
    margin-left:2%;
    margin-right:2%;
    margin-top:10px;
    padding: 3%;
}

label{
    color: #006600;
    font-size: 18px;
}

.ProfPic{
    height:auto;
    width:80%;
}

.active{
    border-color: forestgreen;
    border-width:3px;
    border-style:solid;
    font-weight: bold;
    font-style:italic;
    background-color:#ffffcc;
    box-shadow: 0 5px 10px;
}

.other{
    border-width:3px;
    font-style:italic;
    border-color: forestgreen;
    border-style:solid ;
}

/*************************************
*         LAYOUT RESPONSIVE          *
*             width<480              *
**************************************/

@media screen and (max-width: 480px)
{
    #divSom{
        width:auto;
        float:none;
        font-size: 17px;
    }
    
    #focus{
        margin: auto;
        width: auto;
        border-radius: 5px;
        border-style: solid;
        margin-top:10px;
        margin-bottom:10px;
        padding: 3%;
        background-color: white;
    }
    
    #notAutenticate{
        display: inline-block;
        margin-left:auto;
        width:auto;
    }
    
    .button{
        width: 84%;
    }
    
    input[type=date]{
        width:55%;
    }
    input[type=text]{  
        width: 78%;
    }

    input[type=password]{
        width: 78%;
    }
    
    #divAccesso{
        width: 40%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .ProfPic{
        width: 90%;
    }
    
    textarea{
        width: 79%;
    }
 
    #iscriviti{
        float:none;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #divAccesso{
        width: 65%;
    }
    
    #utenti{
        margin-left:10px;
        padding-bottom:10px;
        margin-bottom:20px;
        width:90%;
    }
}

/*************************************
*         LAYOUT RESPONSIVE          *
*          480<width<1024            *
**************************************/

@media screen and (max-width: 1023px) and (min-width: 481px){
    
    #focus{
        float: left;
        width: 48%;
        border-style: solid;
        border-radius: 5px;
        margin-top:10px;
        margin-bottom:10px;
        padding: 3%;
        background-color: white;
    }
    
    #utenti{
        margin-left: 1px;
        margin-bottom: 20px;
        width: 140px;
    }
    
    #newPost{
        width: 100%;
    }
    
    #divAccesso{
        width: 40%;
    }
    
    #divPost{
        width: 49%;
        float: left;
        margin-left: 10px;
    }
    
    .ProfPic{
        width: 90%;
    }
    
    #notAutenticate{
        margin-left: 240px;
    }
}

/*************************************
*         LAYOUT RESPONSIVE          *
*             width>1024             *
**************************************/

@media screen and (min-width: 1024px){
    
    header{
        width:163px;
        float:left;
        /*Immagine decorativa inserita esclusivamente per migliorare
            l'estetica dell'header*/
        background-image: url(img/social.png);
        background-repeat: no-repeat;
        background-position: 10px 15px;
    }
    
    nav{
        margin-left:240px;
        height:60px;
        text-align: left;
    }
    
    #divPost{
        width: 60%;
        float: left;
        margin-left: 10px;
    }
    /*immagine decorativa posta all'interno del 
        form per l'inserimento delle credenziali utente(LOGIN)*/
    #divAccesso{
        padding-left: 15%;
        background-image: url(img/login.png);
        background-repeat: no-repeat;
    }
    /*Immagine decorativa posta all'interno del form
        di iscrizione per un nuovo utente*/
    #iscriviti{
        padding-left: 15%;
        background-image: url(img/iscrizione.png);
        background-repeat: no-repeat;
    }
    
    #notAutenticate{
        display: inline-block;
    }
    
    #divSom{
        margin-left:-226px;
    }
}

/*Immagine informativa posta in corrispondenza di 
    ogni utente registrato: ha il compito di colpire l'attenzione dell'utente
        poichè esso individui i profili delle persone già iscritte.*/
.picutente{
    background-image: url(img/anagrafica.png);
    background-repeat: no-repeat;
    text-align: left;
}