/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.46.26
    Author     : Kevin
*/

body{
    background-color:#ffffcc;
    font-family: "serif", Times;
    font-style: normal;
    color: #660000;
}

header{
    background-color: #ff6666;
    font-family: "serif", Times;
    font-style: italic;
    font-weight: bold;
    border-style: solid;
    margin-bottom: 10px;
    height:70px;
    text-align: center;
}

h2{
    font-family: "Verdana",Times;
    font-style: normal;
    color:forestgreen;
        
}

h3{
    font-style: normal;
    font-family: "Georgia",Times;
    color: brown;       
}
/*gestione link*/
a:active{
    color:black;
}
a:link{
    color:darkblue;  
    text-decoration: underline;
}
a:visited{
    color:#cc0000;
}
a:hover{
    font-weight: bold;
    color:#b84dff;
    text-decoration:underline;
}

input{
    font-family: "Verdana",Times;
    border: 2px solid #3366ff;
    background-color:#993300;
    color:white;
    padding-left: 5px;
}

p{
    color: #003333;
    font-family: "Arial",Times;
}

#divAccesso{
    border-style:solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    margin-left:35%;
    margin-right:25%;
    margin-top: 100px;
}
.ilogin{
    display:block;
    width: 200px;
    font-weight:bold;
    color: #006600;
}

.button{
    background-color:#006600;
    color:white;
    width: 63%;
    margin-top:20px;
}
nav{
    border-style: solid;
    text-align: center;
    display: block;
    font-size: 20px;
    background-color:#cccccc;
}
nav li{
    display: inline-block;
    font-family: "serif";
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid;
}
nav li:last-child {
    border-right: 0px solid;
}
ul{
    margin-top:10px;
    margin-bottom:10px;
}

input[type=text]{  
    width: 60%;
    display:block;
}
input[type=date]{
    display:block;
}
textarea{
    display:block;
    background-color:#993300;
    color:white;
}
input[type=password]{
    width: 60%;
    display:block;
}
#iscriviti{
    border-style: solid;
    padding-left: 10%;
    padding-top:3%;
    padding-bottom:3%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight:bold;
}
#scritta{
    clear: both;
    text-align: center;
}

#divPost1,#divPost2,#divPost3{
    margin-bottom: 10px;
    margin-top:10px;
    padding: 2%;
    border-style: solid;
}

#divSom{
    margin-top: 10px;
    border-style: solid;
    width: 160px;
    float: left;
    padding-left:20px;
    float:left;
}

#focus{
    float:left;
    width: 76%;
    margin-left:3%;
    margin-top:10px;
    border-style: solid;
    padding: 3%;
}
label{
    color: #006600;
}