/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.46.26
    Author     : Kevin
*/

body{
    background-color:#ffffcc;
    font-family: "serif", Times;
    font-style: normal;
    color: #660000;
}

#utenti{
    background-color: white;
    border-style:solid;
    width:200px;
    padding-left: 10px;
    margin-top:10px;
    float: left;
}

#utenti li{
    list-style-type: none;
}

.pannello li a{
    display:block;
    line-height:35px;
    padding-left: 50px;
}

header{
    background-color: #ff6666;
    font-family: "serif", Times;
    font-style: italic;
    font-weight: bold;
    border-style: solid;
    margin-bottom: 10px;
    height:70px;
    text-align: center;
}

h2{
    font-family: "Verdana",Times;
    font-style: normal;
    color:forestgreen;
        
}

h3{
    font-style: normal;
    font-family: "Georgia",Times;
    color: brown;       
}
/*gestione link*/
a:active{
    color:black;
    text-decoration: none;
}
a:link{
    color:darkblue;  
    text-decoration: none;
}
a:visited{
    color:#000000;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    color:#b84dff;
    text-decoration: none;
}

input{
    font-family: "Verdana",Times;
    border: 2px solid #3366ff;
    background-color:#993300;
    color:white;
    padding-left: 5px;
}

p{
    color: #003333;
    font-family: "Arial",Times;
}

#divAccesso{
    background-color: white;
    border-style:solid;
    padding:5%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    width: 30%;
}

.ilogin{
    display:block;
    width: 200px;
    font-weight:bold;
    color: #006600;
}

.button{
    background-color:#006600;
    color:white;
    width: 62%;
    margin-top:20px;
    height: 28px;
}

nav{
    border-style: solid;
    text-align: center;
    display: block;
    font-size: 20px;
    background-color:#cccccc;
}

nav li{
    display: inline-block;
    font-family: "serif";
    margin-bottom:5px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid;
}

ul{
    margin-top:10px;
    margin-bottom:10px;
}

input[type=text]{  
    width: 60%;
    display:block;
    margin-bottom:6px;
}

input[type=password]{
    width: 60%;
    display:block;
    margin-bottom:6px;
}

input[type=date]{
    display:block;
    width:29%;
    margin-bottom:6px;
}

textarea{
    display:block;
    background-color:#993300;
    border: 2px solid #3366ff;
    color:white;
    margin-bottom:6px;
}

#iscriviti{
    background-color: white;
    float:left;
    border-style: solid;
    padding: 5%;
    margin-left:10px;
    margin-bottom: 10px;
    width: 40%;
    font-weight:bold;
}
#scritta{
    text-align: center;
}

#divPost1,#divPost2,#divPost3{
    background-color: white;
    margin-bottom: 10px;
    margin-top:10px;
    padding: 2%;
    border-style: solid;
}

#divSom{
    background-color: white;
    margin-top: 10px;
    padding-right:10px;
    border-style: solid;
    width: 160px;
    padding-left:10px;
    float:left;
}

#focus{
    float:left;
    width: 70%;
    margin-left:2%;
    margin-right:2%;
    margin-top:10px;
    padding: 3%;
}

label{
    color: #006600;
    font-size: 18px;
}

.ProfPic{
    height: auto;
}

.active{
    border-color: #ff6666;
    border-style:solid;
    border-radius: 25px;
    background-color:#ffffcc;
    box-shadow: 0 5px 10px;
}

.other{
    border-color: #ff6666;
    border-style: solid;
    border-radius: 25px;
}

@media screen and (max-width: 480px)
{
    #divSom{
        width:auto;
        float:none;
        font-size: 17px;
    }
    
    #focus{
        margin: auto;
        width: auto;
        border-style: solid;
        margin-top:10px;
        margin-bottom:10px;
        padding: 3%;
        background-color: white;
    }
    
    .button{
        width: 84%;
    }
    
    input[type=date]{
        width:55%;
    }
    input[type=text]{  
        width: 78%;
    }

    input[type=password]{
        width: 78%;
    }
    
    #divAccesso{
        width: 40%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .ProfPic{
        width: 90%;
    }
    
    textarea{
        width: 79%;
    }
 
    #iscriviti{
        float:none;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #divAccesso{
        width: 65%;
    }
    
    #utenti{
        display:none;
    }
}

@media screen and (max-width: 1023px) and (min-width: 481px){
    
    #focus{
        float: left;
        width: 48%;
        border-style: solid;
        margin-top:10px;
        margin-bottom:10px;
        padding: 3%;
        background-color: white;
    }
    
    #divAccesso{
        width: 40%;
    }
    
    #divPost{
        width: 49%;
        float: left;
        margin-left: 10px;
    }
    
    .ProfPic{
        width: 90%;
    }
}

@media screen and (min-width: 1024px){
    
     #divPost{
        width: 60%;
        float: left;
        margin-left: 10px;
    }
    /*immagine decorativa posta all'interno del 
        form per l'inserimento delle credenziali utente*/
    #divAccesso{
        padding-left: 15%;
        background-image: url(img/login.png);
        background-repeat: no-repeat;
    }
    /*Immagine decorativa posta all'interno del form
        di iscrizione*/
    #iscriviti{
        padding-left: 15%;
        background-image: url(img/iscrizione.png);
        background-repeat: no-repeat;
    }
    
}

/*Immagine informativa posta in corrispondenza di 
    ogni utente registrato,ha il compito di colpire l'attenzione dell'utente
        poichè esso individui i profili degli utenti già scritti.*/
#picutente{
    background-image: url(img/anagrafica.png);
    background-repeat: no-repeat;
}